.item {
    text-align: left;
}

.item p {
    margin: 0;
}

.item .name {
    font-size: 16px;
}

.item .price {
    font-size: 16px;
    font-weight: bold;
}

.rating .checked {
    color: orange;
}

.shopping-icon {
    font-size: 24px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}